<div>
  <strong>本当に退会しますか？</strong>
    <div>
      退会すると会員情報登録や<br/>
      これまでの日記記録等が閲覧できなくなります。<br/><br/>
      退会する場合は,「退会する」をクリックしてください。
    </div>
    <%= link_to "退会しない", my_page_users_path, class: 'btn btn-primary' %>
    <%= link_to "退会する", out_users_path,method: :patch, class: 'btn btn-danger' %>
</div>