<h4 class=" my-4"><spna>体重変更</span></h4>
		<%= form_with model: @weight, local:true do |f| %>
	   <h4>投稿日</h4>
     <%= f.date_field :date %>
     <h4>体重</h4>
     <%= f.number_field :weight, step: '0.1' %>
     <%= f.submit '編集' %>
    <% end %>
