<h2 class="hading offset-3 col-6">体重編集</h4>
<%= form_with model: @weight, local:true do |f| %>
  <p class="editform">
  <%= f.date_field :date, value: @weight.date,class: "weight-editform" %>
  <%= f.number_field :weight, step: '0.1',class: "weight-editform" %>
  <%= f.submit '変更を保存', class: "edit-weightform-btn semibold" %>
</p>
<% end %>
