<div class="top-image">
  <h1>HAPPY<span>your</span> MATENITY</h1>
</div>
<div class="top-main">
 <div class="explanation">
  <h1>『Happy Maternity』</h1>
  <p>
    妊婦生活の日記や体重管理テェック、他のユーザーの方々と妊婦生活を共有できます。<br/>
    また、MYPAGEでは、自身お妊婦週数、出産予定日が確認いただけます。<br/>
    幸せな『Maternity life』を過ごす為、お役立て頂けると幸いです。
  </p>
 </div>
  <div class="row mb-6 top-title">
    <div class="mypage-image col-6"></div>
    <div class="col-6">
       <h2 class="mypage-title">妊婦週数機能</h2>
       MYPAGEでは、自身の情報変更だけでなく、出産までの日数や現在の妊婦週数が確認できます。<br/>
       通院するときや成長を段階を知るときに見てみよう。
     </div>
  </div>
  <div class="row mb-6 top-title">
    <div class="diary-image col-6"></div>
    <div class="col-6">
       <h2 class="diary-title">日記機能</h2>
       自身の妊婦生活を、写真付きの日記機能を利用して、一生の思い出に残すことが出来ます。<br/>
       また、投稿したタイトルをカレンダーで確認し、過去の思い出を見直そう。
     </div>
  </div>
  <div class="row mb-6 top-title">
    <div class="weight-image col-6"></div>
    <div class="col-6">
       <h2 class="weight-title">体重管理機能</h2>
       妊婦生活での体重管理は、健康に過ごす為に必要です。<br/>
       グラフとして日々の体重変化を確認でき、自身の食事管理及び状態管理にも繋げよう。
    </div>
  </div>
  <div class="row top-title">
    <div class="post-image col-6"></div>
    <div class="col-6">
      <h2 class="post-title">投稿機能</h2>
      コロナ禍で、自身の妊婦生活の悩みや想いを共有する場として利用してください。<br/>
      コメント、いいね機能を利用し様々な人と繋がって見てください。
    </div>
  </div>
 </div>