<div class="row">
	<div class="col-xs-offset-1 col-xs-8">
		<h4 class=" my-4"><spna>投稿編集</span></h4>
		<%= form_with model: @post, local:true do |f| %>
		<table width="700" height="400">
	  <tbody>
     <tr>
      <td class="info col-xs-2">タイトル</td>
      <td><%= f.text_field :title %></td>
     </tr>
     <tr>
      <td class="info col-xs-2">内容</td>
      <td><%= f.text_area :body %></td>
     </tr>
     <tr>
      <td class="info col-xs-2"></td>
      <td> <%= f.submit '変更を保存',class:"btn btn-success" %></td>
     </tr>
    </tbody>
    </table>
     <% end %>
  </div>
</div>