/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 @import 'simple_calendar';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'azuki';
  src: font-url('/assets/azuki.ttf');
  font-weight: normal;
  font-style: normal;
}

body{
 font-family: 'azuki';
}

h4.hading {
  padding: 1rem 2rem;
  border-top: 3px dotted #000;
  border-bottom: 3px dotted #000;
  text-align:center;
}

.form{
  width: 100%;
  padding: 15px;
  margin-bottom:25px;
  font-size:13px;
  max-width: 300px;
}

.form-btn{
  width:200px;
  padding:15px;
  background:#66CC99;
  color:#fff;
  border:none;
  font-weight: bold;
}

.contact-form{
  display: flex;
  margin: 0 auto;
}



.form-wrapper {
  background-image: url(mediamodifier-fdPlZXc-ZwU-unsplash.jpg);
  background-size: cover;
  background-position: center;
  margin: auto;
  padding: 0 1em;
  max-width: 500px;
  text-align: center;
}


h2 {
  text-align: center;
  padding: 1em 0;
  font-weight: 900;
}

form {
  padding: 0 1.5em;
}

.form-item {
  margin-bottom: 0.75em;
  width: 100%;

}

.button-panel {
  padding: 2em 0;
}


input:-webkit-autofill {
 transition: background-color 5000s ease-in-out 0s !important;
}


footer{
  background-image: url(baby-784608_1920.jpg);
  background-position: center;
  background-size: cover;
}

.bg_test {
  text-align:  center;
  padding:  60px;
  background: rgba(255,255,255,0.4);
  height: 100%;
}

.text {
  color: #660000;
  text-align: center;
}

h2.hading {
  padding: 1rem 2rem;
  border-top: 3px dotted #000;
  border-bottom: 3px dotted #000;
  text-align:center;
  width: 50%;
}

@media screen and (max-width: 425px) {
  header {
    width: 100%;
  }
  .container {
    width: 100%;
  }
}

@media only screen and (max-width:480px){
table {
margin: 10px 5px;
}
table th, table td {
width: 90%;
display: block;
border-top: 1px solid #666;
}
}