/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 @import 'simple_calendar';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'azuki';
  src: font-url('/assets/azuki.ttf');
  font-weight: normal;
  font-style: normal;
}

body{
 font-family: 'azuki';
}

h4.hading {
  padding: 1rem 2rem;
  border-top: 3px dotted #000;
  border-bottom: 3px dotted #000;
  text-align:center;
}

.form{
  width: 100%;
  padding: 15px;
  margin-bottom:25px;
  font-size:13px;
  max-width: 300px;
}

.form-btn{
  width:200px;
  padding:15px;
  background:#66CC99;
  color:#fff;
  border:none;
  font-weight: bold;
  text-align: center;
}

.contact-form{
  display: flex;
  margin: 0 auto;
}



.form-wrapper {
  background-image: url(mediamodifier-fdPlZXc-ZwU-unsplash.jpg);
  background-size: cover;
  background-position: center;
  margin: auto;
  padding: 0 1em;
  max-width: 500px;
  text-align: center;
}


h2 {
  text-align: center;
  padding: 1em 0;
  font-weight: 900;
}

form {
  padding: 0 1.5em;
}

.form-item {
  margin-bottom: 0.75em;
  width: 100%;

}

.button-panel {
  padding: 2em 0;
}


input:-webkit-autofill {
 transition: background-color 5000s ease-in-out 0s !important;
}


footer{
  background-image: url(baby-784608_1920.jpg);
  background-position: center;
  background-size: cover;
}

.bg_test {
  text-align:  center;
  padding:  60px;
  background: rgba(255,255,255,0.4);
  height: 100%;
}

.text {
  color: #660000;
  text-align: center;
}

h2.hading {
  padding: 1rem 2rem;
  border-top: 3px dotted #000;
  border-bottom: 3px dotted #000;
  text-align:center;
}

.center-btn{
  text-align: center;
}

.form-item{
    margin: 0;
    font-family: serif;
    font-size: inherit;
    line-height: inherit;
}


@media only screen and (max-width:991px){
.post-img {
    height: 200px;
 }
.contact-form{
  display: block;
 }
 .row {
  // display: block;
}
.col-10, .col-9, .col-6, .col-3 {
    max-width: 100%;
 }
.offset-3, .offset-1 {
    margin-left: 0%;
 }
.card {
    margin: 30px 0;
 }
h1, .h1 {
    font-size: 2rem;
 }
form {
    padding: 0 1.5em;
    margin: 30px;
 }
.diary-image, .weight-image, .post-image {
    background: url(mediamodifier-fdPlZXc-ZwU-unsplash.jpg) no-repeat;
    padding-top: 61.93333333%;
    background-size: cover;
    height: 300px;
 }
.container {
 padding-left: 0px;
 }
}

.weight-image{
  background-image: url(2021-10-09_16.43.32.png);
  background-position: center;
  background-size: cover;
}
.diary-image{
  background-image: url(2021-10-09_16.43.23.png);
  background-position: center;
  background-size: cover;
}
.post-image{
  background-image: url(2021-10-09_16.43.37.png);
  background-position: center;
  background-size: cover;
}

.diary-title{
  padding: 1rem 2rem;
  background: #FFFF55;
  background-image: radial-gradient(#FFFFBB 13%, transparent 13%), radial-gradient(#FFFFBB 13%, transparent 13%);
  background-size: 50px 50px;
  background-position: 0 0, 25px 25px;
}
.weight-title{
  padding: 1rem 2rem;
  background: #5D99FF;
  background-image: radial-gradient(#A4C6FF 13%, transparent 13%), radial-gradient(#A4C6FF 13%, transparent 13%);
  background-size: 50px 50px;
  background-position: 0 0, 25px 25px;
}
.post-title{
  padding: 1rem 2rem;
  background: #FF69A3;
  background-image: radial-gradient(#FFABCE 13%, transparent 13%), radial-gradient(#FFABCE 13%, transparent 13%);
  background-size: 50px 50px;
  background-position: 0 0, 25px 25px;
}
.top-title{
  padding: 1em 0;
}

.post-img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.table-scroll{
  overflow-x : auto
}