
.top-image {
  background: image-url('mediamodifier-fdPlZXc-ZwU-unsplash.jpg') no-repeat;
  padding-top: 61.93333333%;
  background-size: cover;
}
.top-image img {
  position: absolute;
  top: 0;
  right: 0;
  width: 45.8%;
}

.top-image h1 {
  position: fixed;
  top: 10rem;
  right: 11rem;
  font-size: 7vw;
  line-height: .8;
  margin-top: 0;
  text-align: center;
  font-family: Comic Sans MS;
  color: #A0522D;
}
.top-image h1 span {
  display: block;
  font-size: 8.75vw;
}
.explanation{
  padding: 1em 0;
}
.top-main {
  background: #fff;
  position: relative;
  border: 1px solid #fff;
  font-size: 1.4rem;
  line-height: 1.6;
}
@media all and (max-width: 400px) {
  main { padding: 2rem; }
}