.weightform{
  width: 100%;
  padding: 15px;
  background:#82D6F6;
  border:1px solid rgba(0, 0, 0, 0.075);
  margin-bottom:25px;
  font-size:13px;
}

.edit-weightform-btn{
  width: 30%;
  padding:15px;
  color:#fff;
  background:#75A9FF;
  border:none;
}

.weightform-btn{
  width: 100%;
  padding:15px;
  color:#fff;
  background:#75A9FF;
  border:none;
}

.weight-editform{
  width: 100%;
  padding: 15px;
  background:#82D6F6;
  border:1px solid rgba(0, 0, 0, 0.075);
  margin-bottom:25px;
  font-size:13px;
}

td.example2 {
  text-align: center;
  width: 80%;
}